.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 100%;
  max-width: 330px;
  margin: 10px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
